@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background: #1f2035;

  .component-1 {
    width: 855px;
    padding: 40px 50px;
    border-radius: 10px;
    color: #bbbbd7;
    background: #1b1b30;

    h4 {
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 25px;
    }

    label {
      display: block;
      width: 100%;
      padding: 24px 0;
      border-radius: 5px;
      border: 1px solid #454564;
      background: #2a2a42 url(../img/search-icon.svg) no-repeat 25px center;

      input {
        width: calc(100% - 100px);
        font-size: 18px;
        color: #bbbbd7;
        background: transparent;
        margin-left: 74px;

        &::placeholder {
          color: rgba(#fff, 0.6);
        }
      }
    }
  }

  .component-2 {
    width: 307px;
    padding: 30px 30px 40px 30px;
    border-radius: 10px;
    color: #bbbbd7;
    background: #1b1b30;

    .popular-topics,
    .contact-support {
      h5 {
        font-size: 18px;
      }
    }

    .popular-topics {
      padding-bottom: 25px;
      border-bottom: 2px solid #141428;
      margin-bottom: 25px;

      ul {
        margin-top: 20px;

        li {
          &:not(:last-child) {
            margin-bottom: 8px;
          }

          a {
            font-size: 16px;
            color: #786cd5;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .contact-support {
      p {
        max-width: 226px;
        font-size: 16px;
        line-height: 24px;
        margin: 12px 0 20px;
      }

      a {
        display: inline-block;
        padding: 18px 94px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        background: #786CD5;
        transition: 100ms background-color;

        &:hover {
          background: darken(#786CD5, 5);
        }
      }
    }
  }
}
